.multi-step-form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    padding: 10px 20px;
    margin-top: 20px;
    width: 120px;
    background-color: #00ff00;
    color: #362525;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  @media (max-width: 600px) {
    .multi-step-form {
      padding: 10px;
    }
  
    button {
      width: 100%;
      margin-top: 10px;
    }
  
    .buttons {
      flex-direction: column;
    }
  }
  